<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URBAN DATA FRAMEWORK</title>
    <link rel="stylesheet" href="static/css/main.css">
    <script src="static/bower/jquery/dist/jquery.min.js"></script>
    {% block head_extas %}{% endblock %}
 
</head>
 <body>
     <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>
 </body>
</html>
