{% extends "base.html" %}

{% block content %}
  <h2>STREET&lt-&gtFLOW</h2><br/>
  <a href="/manual">ENTER DATA</a><br/>
  <a href="/sessions/">VIEW TABLE DATA</a><br/>
  <a href="/vis1">VIEW MAP DATA</a><br/>
{% endblock %}
