{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <p>Перепешите данные с ваших листочков сюда, пишите двухбуквенные направления отделив их пробелами, запятыми, слешами, или любыми другими знаками пунктуации.</p>
    <p>Любое направление должно сотоять из двух латинских букв и *опционально* число перед ними, указвающее количество людей. Вот примеры правильных нарпавлений: AB, 2FA, 12EF. В противном случае сервис не примет ваши данные.</p>
    <p>После того как вы нажмете кнопку Отправить, сервис скажет вам результат. Или там будет все хорошо, или ошибка. Если у вас не получится ввести данные, или по другим вопросам связанным с этим проектом пишите мне в телеграм: <a href="https://t.me/alateas" target="_blank">@alateas</a></p>
    <form method=post>
      <dl>
        {{ render_field(form.point) }}
        {{ render_field(form.session) }}
        {{ render_field(form.preschoolers) }}
        {{ render_field(form.y1017) }}
        {{ render_field(form.cadets) }}
        {{ render_field(form.students) }}
        {{ render_field(form.employeed) }}
        {{ render_field(form.parent_children) }}
        {{ render_field(form.pensioners) }}
      </dl>
      <p><input type=submit value=Отправить>
    </form>
{% endblock %}
