{% extends "base.html" %}

{% block content %}
<table border="1">
   <tr>
    <th>Точка</th>
    <th>Дошкольники</th>
    <th>10-17</th>
    <th>Студенты</th>
    <th>Курсанты</th>
    <th>Занятые</th>
    <th>Родители с детьми</th>
    <th>Пенсионеры</th>
   </tr>
    {% for n,data in session.points.items() %}
       <tr>
          <td>{{n}}</td>
          <td>{{",".join(data.directions.preschoolers)}}</td>
          <td>{{",".join(data.directions.y1017)}}</td>
          <td>{{",".join(data.directions.students)}}</td>
          <td>{{",".join(data.directions.cadets)}}</td>
          <td>{{",".join(data.directions.employeed)}}</td>
          <td>{{",".join(data.directions.parent_children)}}</td>
          <td>{{",".join(data.directions.pensioners)}}</td>
       </tr>
    {% endfor %}   

{% endblock %}
