{% extends "base.html" %}

{% block head_extas %}

<link rel="stylesheet" href="static/bower/leaflet/dist/leaflet.css" />
<script src="static/bower/leaflet/dist/leaflet.js"></script>

<link rel="stylesheet" href="static/bower/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.css" />
<script src="static/bower/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.js"></script>


{% endblock %}

{% block content %}
<div id="mapid"></div>

<script>
    var c_quart = [59.885312, 29.897307]
    var c_center = [59.882608, 29.896333]
    var mapboxUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'
    // var tileLayer = L.tileLayer(mapboxUrl, {id: 'MapID', attribution: mapboxAttribution})

    var mapboxAttribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="http://mapbox.com">Mapbox</a>';
    var light = L.tileLayer(mapboxUrl, {maxZoom: 18, id: 'mapbox.light', attribution: mapboxAttribution}),
        dark   = L.tileLayer(mapboxUrl, {maxZoom: 18, id: 'mapbox.dark', attribution: mapboxAttribution});
    var Stamen_TonerLite = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        subdomains: 'abcd',
        minZoom: 0,
        maxZoom: 20,
        ext: 'png'
    });
    var Stamen_Watercolor = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        subdomains: 'abcd',
        minZoom: 1,
        maxZoom: 16,
        ext: 'png'
    });
    var OpenStreetMap_BlackAndWhite = L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    });
    var Esri_WorldImagery = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    });
    var mymap = L.map('mapid',{
        center: c_center,
        zoom: 16,
        layers: [dark]
    });

    $.getJSON( "data-all-sessions", function( data ) {
        draw(data)
    });


    // Converts from degrees to radians.
    function to_radians(degrees) {
      return degrees * Math.PI / 180;
    };

    function count_all_cats(item) {
        return item.data.school.length + item.data.y1017.length + item.data.stuptu.length + 
            item.data.ku.length + item.data.z.length + item.data.rr.length + item.data.pens.length
    }

    function add_category_cricle(name, color, point, layer) {
        if(name in point.directions) {
            layer.addLayer(get_circle([point.lat, point.lon], point.directions[name].length, color))
        }
    }

    function get_composite_line(latlng, angle, parts) {
        var lg = L.layerGroup()
        var tmp_lenght = 0
        var new_length = 0
        var latlngs = []
        // angle = 0
        $.each(parts, function(index, part) {
            new_length = tmp_lenght + part.length
            lg.addLayer(get_line_by_angle(latlng, angle, tmp_lenght, new_length, part.color))
            tmp_lenght = new_length
        });
        
        return lg;
    };

    function get_categories() {
        return {'preschoolers': 'Дошкольники', 'y1017': '10-17 лет', 'students':'Студенты', 'cadets':'Курсанты', 'employeed':'Занятые', 'parent_children':'Родители с детьми', 'pensioners':'Пенсионеры'}
    }
    function get_category_color(cat_name){
        colors = {
            employeed: 'Aquamarine',
            preschoolers: 'red',
            y1017: 'LightCyan',
            cadets: 'LightSalmon',
            students: 'cyan',
            employeed: 'MediumSpringGreen',
            parent_children: 'MediumPurple',
            pensioners: 'blue'
        }       
        return colors[cat_name]        
    }

    function add_direction(latlng, angle, cats, layer, length_ratio = 1) {
        // d1 = [{length:15, color:'red'}, {length:5, color:'blue'}, {length:10, color:'green'}]
        // d2 = [{length:30, color:'red'}]
        d = []
        $.each(cats, function(cat, count) {
            d.push({length:count*length_ratio, color:get_category_color(cat)})
        });
        layer.addLayer(get_composite_line(latlng, angle, d))
    }


    function get_angle(dir, point_number){
        angles = {
            A:0,
            B:180,
            C:225,
            D:135,
            E:270,
            F:90,
            L:315,
            K:45
        }
        angle =  angles[dir]
        if(point_number == 1){
            angle = angle - 15
        }
        if(point_number == 2){
            angle = angle - 15
        }
        if(point_number == 4){
            angle = angle - 15
        }
        if(point_number == 5){
            angle = angle - 15
        }
        // // if(point_number == 2){
        //     return angles[dir]
        // }
        return angle

    }
    function get_line_by_angle(latlon, angle, length_start, length_finish, color) {
        angle = to_radians(angle);
        var center_point = mymap.project(latlon, 17)
        var from_point = L.point(center_point.x + length_start * Math.sin(angle), center_point.y + length_start * Math.cos(angle))
        var to_point = L.point(center_point.x + length_finish * Math.sin(angle), center_point.y + length_finish * Math.cos(angle))
        var latlngs = [
            mymap.unproject(from_point, 17),
            mymap.unproject(to_point, 17)
        ];
        return L.polyline(latlngs, {color: color});
    };

    function test_rose(layer){
        lg = L.layerGroup()
        var latlng = [59.882608, 29.896333]
        for (var i = 0; i < 10; i++) {
            lg.addLayer(get_line_by_angle(latlng, i*36, 0, 100, 'red'))
            lg.addLayer(get_line_by_angle(latlng, i*36, 100, 200, 'blue'))
        }
        lg.addTo(mymap)
    }


    function get_session_layer(points_data) {
        var layer = L.layerGroup();
        $.each(points_data, function(index, point) {
            if(index == index){
                $.each(point.directions, function(dir_name, dir_data) {
                    add_direction([point.lat, point.lon], get_angle(dir_name, index), dir_data, layer, 2)
                });
                layer.addLayer(get_circle([point.lat, point.lon], 2, "red"))

            }
        }); 
        // test_rose(layer)

        return layer
    }

    function legend(){
        var legend = L.control({position: 'bottomright'});

        legend.onAdd = function (map) {

            var div = L.DomUtil.create('div', 'info legend'),
                labels = [];

            // loop through our density intervals and generate a label with a colored square for each interval
             $.each(get_categories(), function(cat, cat_descr) {
                div.innerHTML +=
                    '<i style="background:' + get_category_color(cat) + '"></i> ' + cat_descr + '<br>';
            });

            return div;
        };

        legend.addTo(mymap);        
    }
    function draw(data) {
        var baseMaps = {
            "Light": light,
            "Dark": dark,
            "Stamen_TonerLite": Stamen_TonerLite,
            "Stamen_Watercolor": Stamen_Watercolor,
            "OpenStreetMap_BlackAndWhite": OpenStreetMap_BlackAndWhite,
            "Esri_WorldImagery": Esri_WorldImagery
        };

        var sessions_overlay = {};

        var show = true
        $.each(data, function(index, session) {
            l = get_session_layer(session.points)
            if (show) {
                l.addTo(mymap)
                show = false
            }
            sessions_overlay[session.description] = l
        });


        var groupedOverlays = {
          "Sessions": sessions_overlay,
        };

        var options = {
          // Make the "Landmarks" group exclusive (use radio inputs)
          exclusiveGroups: ["Sessions"]
          // Show a checkbox next to non-exclusive group labels for toggling all
          // groupCheckboxes: true
        };

        L.control.groupedLayers(baseMaps, groupedOverlays, options).addTo(mymap);
        legend()
        // L.control.layers(baseMaps, overlayMaps).addTo(mymap);
        // test_rose()
    };

    function get_circle(point, radius, color) {
        return L.circle(point, {
            color: color,
            fillColor: color,
            fillOpacity: 1,
            radius: radius
        });
    };

    function marker(point){
        L.marker(point).addTo(mymap);
    }

</script>

{% endblock %}
