{% extends "base.html" %}

{% block head_extas %}

<link rel="stylesheet" href="static/bower/leaflet/dist/leaflet.css" />
<script src="static/bower/leaflet/dist/leaflet.js"></script>

{% endblock %}

{% block content %}
<div id="mapid"></div>

<script>
    var c_quart = [59.885312, 29.897307]
    var c_center = [59.882608, 29.896333]
    var mapboxUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw'
    // var tileLayer = L.tileLayer(mapboxUrl, {id: 'MapID', attribution: mapboxAttribution})

    var mapboxAttribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="http://mapbox.com">Mapbox</a>';
    var light = L.tileLayer(mapboxUrl, {maxZoom: 18, id: 'mapbox.light', attribution: mapboxAttribution}),
        dark   = L.tileLayer(mapboxUrl, {maxZoom: 18, id: 'mapbox.dark', attribution: mapboxAttribution});
    var mymap = L.map('mapid',{
        center: c_center,
        zoom: 15,
        layers: [dark]
    });

    $.getJSON( "geo", function( data ) {
        console.log(data)
        draw(data)
    });


    // Converts from degrees to radians.
    function to_radians(degrees) {
      return degrees * Math.PI / 180;
    };

    function draw(data) {
        var circle = L.circle(c_quart, {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 50
        }).addTo(mymap);

        var myStyle = {
            "color": "#ff7800",
            "weight": 5,
            "opacity": 0.65
        };
        L.geoJSON(data, {
            style: myStyle
        }).addTo(mymap);
    };

</script>

{% endblock %}
